# Model and checkpoints
*.pth
*.zip
maps/
models/
logs/
other_results/
result/
*_checkpoints/
mujoco_environments/
.conda/

# Python cache files
__pycache__/

# 보안 관련 파일
.env

# Vessl output files
/output/

# wandb output files
wandb/

*.egg-info/
lgsim.tar.gz
result/