boto3==1.42.48
tqdm==4.67.3
nbclient==0.10.4
nvidia-cusparselt-cu12==0.7.1
terminaltables==3.1.10
sentry-sdk==2.52.0
torch==2.9.1
python-dateutil==2.9.0.post0
webencodings==0.5.1
tinycss2==1.4.0
docopt==0.6.2
jedi==0.19.2
prompt_toolkit==3.0.52
wcwidth==0.6.0
prometheus_client==0.20.0
h11==0.16.0
pytz==2025.2
stack_data==0.6.3
platformdirs==4.5.1
requests-oauthlib==2.0.0
contourpy==1.3.3
inquirer==3.4.1
nbconvert==7.17.0
zipp==3.23.0
pillow==12.1.0
pandocfilters==1.5.1
gitdb==4.0.12
idna==3.11
kubernetes==35.0.0
pip==25.3
nest_asyncio==1.6.0
matplotlib==3.10.8
PyDrive2==1.21.3
ipykernel==7.1.0
pyzmq==27.1.0
yarg==0.1.9
soupsieve==2.8.3
jupyterlab_pygments==0.3.0
google-auth-httplib2==0.3.0
botocore==1.42.48
nvidia-cuda-cupti-cu12==12.8.90
readchar==4.2.1
cycler==0.12.1
urllib3==2.6.3
Farama-Notifications==0.0.4
runs==1.3.0
durationpy==0.10
Jinja2==3.1.6
pyasn1_modules==0.4.2
PyYAML==6.0.3
mistune==3.2.0
requests-futures==1.0.2
comm==0.2.3
typing-inspection==0.4.2
grpcio==1.76.0
matplotlib-inline==0.2.1
cloudpickle==3.1.2
filelock==3.20.3
protobuf==6.33.4
google-auth==2.48.0
pure_eval==0.2.3
sympy==1.14.0
nvidia-cuda-runtime-cu12==12.8.90
pyOpenSSL==24.2.1
numpy==2.4.0
tensorboard==2.20.0
pydantic_core==2.41.5
pipreqs==0.5.0
fsspec==2025.12.0
google-crc32c==1.8.0
absl-py==2.3.1
jsonschema==4.26.0
nvidia-cufft-cu12==11.3.3.83
nvidia-cudnn-cu12==9.10.2.21
wandb==0.24.2
PyNaCl==1.6.2
cffi==2.0.0
jupyter_core==5.9.1
requests==2.32.5
tornado==6.5.4
google-api-python-client==2.189.0
importlib_resources==6.5.2
nvidia-nccl-cu12==2.27.5
pycparser==3.0
docker==7.1.0
nvidia-cusparse-cu12==12.5.8.93
watchdog==3.0.0
collection==0.1.6
GitPython==3.1.46
sshpubkeys==3.3.1
triton==3.5.1
ecdsa==0.19.1
Pygments==2.19.2
mujoco==3.4.0
brotli==1.2.0
httplib2==0.31.2
defusedxml==0.7.1
xmod==1.9.0
nvidia-cusolver-cu12==11.7.3.90
charset-normalizer==3.4.4
smmap==5.0.2
Markdown==3.10
asttokens==3.0.1
MarkupSafe==3.0.3
click==8.3.1
traitlets==5.14.3
jupyter_client==8.8.0
debugpy==1.8.20
google-cloud-storage==2.19.0
uvicorn==0.40.0
PyOpenGL==3.1.10
nvidia-cufile-cu12==1.13.1.3
google-resumable-media==2.8.0
wheel==0.45.1
tabulate==0.9.0
kiwisolver==1.4.9
pickleshare==0.7.5
proto-plus==1.27.1
decorator==5.2.1
Werkzeug==3.1.5
bcrypt==5.0.0
jsonschema-specifications==2025.9.1
oauthlib==3.3.1
networkx==3.6.1
oauth2client==4.1.3
referencing==0.37.0
websocket-client==1.9.0
glfw==2.10.0
fastjsonschema==2.21.2
uritemplate==4.2.0
blessed==1.30.0
pyparsing==3.3.1
jmespath==1.1.0
s3transfer==0.16.0
packaging==25.0
packaging==26.0
nvidia-curand-cu12==10.3.9.90
pexpect==4.9.0
tensorboard-data-server==0.7.2
nvidia-cuda-nvrtc-cu12==12.8.93
googleapis-common-protos==1.72.0
parso==0.8.5
paramiko==3.5.1
nvidia-nvshmem-cu12==3.3.20
bleach==6.3.0
attrs==25.4.0
toml==0.10.2
editor==1.7.0
backcall==0.2.0
ptyprocess==0.7.0
ipython==8.12.3
fonttools==4.61.1
opencv-python==4.13.0.90
nvidia-nvjitlink-cu12==12.8.93
executing==2.2.1
rsa==4.9.1
pyasn1==0.6.2
typing_extensions==4.15.0
six==1.17.0
gymnasium==1.2.3
cryptography==43.0.3
nbformat==5.10.4
google-cloud-core==2.5.0
rpds-py==0.30.0
humanfriendly==10.0
pydantic==2.12.5
ipython_pygments_lexers==1.1.1
etils==1.13.0
vessl==0.1.199
psutil==7.2.2
nvidia-nvtx-cu12==12.8.90
google-api-core==2.29.0
certifi==2026.1.4
nvidia-cublas-cu12==12.8.4.1
annotated-types==0.7.0
setuptools==80.9.0
python-dotenv==1.2.1
beautifulsoup4==4.14.3
mpmath==1.3.0
